body {
    background-color: gray-lightest;
    font-family: 'Droid Sans', sans-serif;
}

header {
    background-color: #333;
    color: #ddd;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #ddd;
    padding: 18px;
    text-align: left;
}

thead {
    color: #337AB7;
}
